name: Build Docker on Push

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Derive tag from message
        id: tagging
        run: |
          TAG=$(echo "${{ github.event.head_commit.message }}" | grep -Eo "^[0-9]+\.[0-9]+\.[0-9]+")

          # Fallback
          if [ -z "$TAG" ]; then
            TAG="sha-${GITHUB_SHA::7}"
          fi

          echo "tag=$TAG" >> "$GITHUB_OUTPUT"

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            dieeneschrodinger/restic-backup:${{ steps.tagging.outputs.tag }}
            dieeneschrodinger/restic-backup:latest
